<html>
   <body>
	<header>
  	<h1>Welcome to Homepage</h1>
 	 <h2>Please enter the details below which are optional</h2>
	<h3> In order to view default information, directly click submit </h3>
	</header>
      <form method = "post">
	<p> Enter File name: </p>
	<p><input type="text" name="file" /></p>
         <p>Enter start line no:</p>
         <p><input type = "text" name = "start" /></p>
	 <p>Enter End line no:</p>
	 <p><input type = "text" name = "end" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>